* {
    margin: 0;
    padding: 0;
    
}

/* Navbar */

nav {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255,.8);
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 999;
}

.navbar li {
    list-style: none;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-around;
}

.navbar li ul a {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    color: black;
    font-family: cursive;
    font-weight: 400;
}

.navbar li ul a:hover {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

/* Hero */

#hero {
    /* background-color: #07E458; */
    background-image: linear-gradient(black, rgb(52, 52, 52));
    color: white;
}

#hero .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.gambar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gambar img {
    width: 340px;
    border-radius: 50%;
    border: 10px solid white;
}


.deskripsi {
    display: flex;
    height: 100vh;
    align-items: center;
}

.info {
    width: 500px;
}

.info h1 {
    font-size: 2.5rem;
    font-family: "Playpen Sans", cursive;
    font-weight: 700;
}

.info p {
    font-size: 1.5rem;
    font-family: "Playpen Sans", cursive;
    font-weight: 400;
}

/* About */

#about {
    background-image: linear-gradient(rgb(52, 52, 52), black);
    height: 100vh;
    align-items: center;
    width: 100%;
}

#about > h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 2.7rem;
    padding-top: 50px;
}

#about .container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 80%;
    align-items: center;
}

.container .universitas img, .container .sma img {
    width: 200px;
    margin-bottom: 10px;
}

.unja,.stupa {
    text-align: center;
    background-color: black;
    color: white;
    border: 10px solid white;
    width: 280px;
    height: 400px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
}

#about .container a {
    text-decoration: none;
    color: white;
    font-family: "Playpen Sans", cursive;
    font-size: .68rem;
    font-weight: 400;
}

.container .unja:hover, .container .stupa:hover{
    background-color: white;
    color: black;
    border-color: rgb(156, 156, 156);
}

/* project */
#project {
    height: 100vh;
    background-image: linear-gradient(black, rgb(52, 52, 52));
}

.container {
    height: 100vh;
}

.container > h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-size: 2.7rem;
    padding-top: 50px;
}

.card {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 70px;
}
.project1, .project2 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: black;
    border: 10px solid white;
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

.project1 img, .project2 img {
    width: 350px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.container .project1 a, .container .project2 a {
    text-decoration: none;
    color: white;
    font-family: "Playpen Sans", cursive;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 50px;
}

/* footer */

footer div{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(52, 52, 52), white);
    color: black;
}
